<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".KeyboardActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
            

        <activity
            android:name=".SshActivity"
            android:exported="false">
        </activity>

        <activity android:name=".NewSettingsActivity"
            android:exported="false" />

        <activity android:name=".KeyboardSettingsActivity"
            android:exported="false" />
        <activity android:name=".TouchpadActivity"
            android:screenOrientation="landscape"
            android:exported="false" />

        <activity android:name=".MusicControlActivity"
            android:exported="false" />

        <receiver
            android:name=".SingleSshWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_single_info" />
        </receiver>

        <service
            android:name=".SshTileService"
            android:label="@string/app_name"
            android:icon="@drawable/ic_power"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <activity android:name=".SingleWidgetConfigActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity android:name=".GlobalSettingsActivity"
            android:exported="false" />

        <activity android:name=".ButtonSettingsActivity"
            android:exported="false" />

        <activity android:name=".MusicSettingsActivity"
            android:exported="false" />

        <activity android:name=".PcStatusActivity"
            android:exported="false" />

        <activity android:name=".PcSettingsActivity"
            android:exported="false" />

        <activity android:name=".MonitorSettingsActivity"
            android:exported="false" />

        <service
            android:name=".MusicNotificationService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <service
            android:name=".MusicTileService"
            android:label="PC Music"
            android:icon="@drawable/ic_round_play"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".CommandReceiver"
            android:exported="false" />

    </application>

</manifest>
